body {
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  color: #acb2b8;
}

.aboutThisGameHeading {
  color:#ffffff;
  border-bottom:1px solid rgba(0, 116, 159, 0.694);
  padding-bottom:20px;
  font-family: sans-serif;
  word-spacing: 3px;
  letter-spacing: 1px;
  font-weight: normal;
}

.aboutThisGameFirstSentence{
  color:#acb2b8;
  padding-top:3px;
  padding-bottom:3px;
}
.aboutThisGameBody{
  color:#acb2b8;
  padding-top:3px;
  padding-bottom:3px;
}

.featureTitle{
  color:#ffffff;
  font-weight: bolder;
}
.featuresHeader{
  padding-left: 1px;
  padding-top: 50px;
  font-weight: bolder;
}
.feature{
  padding-left: 1px;
  padding-bottom: 20px;
}
.container {
  background-color: #1b2838;
}

.detailsContainer {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto auto auto auto auto;
  width: 100%;
}

.bannerImg {
  width: 100%;
  padding-top:10px;
  padding-bottom:3px;
}